---
BasedOnStyle: Mozilla
AlignOperands: 'true'
AllowAllArgumentsOnNextLine: 'true'
AllowShortBlocksOnASingleLine: 'false'
AllowShortCaseLabelsOnASingleLine: 'false'
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Always
AllowShortLambdasOnASingleLine: None
AllowShortLoopsOnASingleLine: 'false'
IncludeBlocks: Merge
TabWidth: '2'
UseTab: Never
